@keyframes cup {
   from {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-50%);
   }
   to {
      transform: translateY(0);
   }
}
@keyframes heartbeat {
   from {
      transform: scale(1);
   }
   50% {
      transform: scale(1.5);
   }
   to {
      transform: scale(1);
   }
}
@keyframes shoe {
   from {
      transform: rotate(0deg);
   }
   50% {
      transform: rotate(60deg);
   }
   to {
      transform: rotate(0deg);
   }
}
